{% extends "base.html" %} {% block title %}Home Page {% endblock %} {% block
content %}
<h3 align="center">Notes</h3>
<ul class="list-group list-group-flush">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{note.data}}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <div class="form-group">
    <label for="email">Add your note :</label>
    <textarea name="notes" id="notes" class="form-control" cols="30" rows="10">
    </textarea>
  </div>

  <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endblock %}
